$peter-river: #3498db
$emerald: #2ecc71
$turquoise: #1abc9c
$green-sea: #16a085
$belize-hole: #2980b9
$amethyst: #9b59b6
$westeria: #8e44ad

$main-color: $amethyst
$secondary-color: $westeria

$left-border: 90px
.day-title
  background-color: #000
  padding-left: $left-border - 15px
.events-container
  margin-left: $left-border

.event-box
  width: 300px
  background-color: lighten($secondary-color,15%)
  padding: 3px
  margin-top:  5px
  margin-left: 6px
  position: relative
  float: left
  // border: 2px solid lighten(#16a085,10%)
  min-height: 33px
  overflow: hidden
  -webkit-transition: all 0.3s

  .duration-container
    color: white
    font-size: 0.8em
    text-shadow: 1px 2px 0px lighten($main-color,2%)
    position: absolute
    right: 5px
    top: 5px

  h2
    width: 210px
    font-size: 1.2em
    padding: 0
    color: white
    margin-top: 0
    text-shadow: 2px 2px 0px lighten($main-color,2%)
    clear: both
    position: absolute
    top: 5px
    left: 5px
  p
    border-radius: 5px
    font-size: 1.3em
    color: darken($main-color,10%)
    text-shadow: 0px 1px 0px lighten($main-color,25%)

  &:hover
    cursor: pointer
  &:hover + .time-container
    color: darken($main-color,25%)

.event-row
  position: relative

.time-container:first-of-type
  top: 20px
.time-container
  font-family: 'Duru Sans', sans-serif
  float: left
  position: absolute
  font-size: 0.8em
  color: lighten($main-color,8%)
  $bgc:  lighten($main-color,16%)
  border-top: 1px solid $bgc
  padding: 2px 4px
  width: 55px
  text-align: right
  top: 2px
  left: -54px

  .time-tri-container
    position: absolute
    top: -1px
    right: -6px
    width:  6px
    height: 6px
    overflow: hidden
  .time-triangle
    display: none
    position: absolute
    top: -145%
    left: -100%
    width:  200%
    height: 200%
    -webkit-transform: rotate(-45deg)
    background-color: darken($bgc,4%)





